*{
    background-color: yellow; 
}


h1{
    color: cornflowerblue; 
}
li{
    color: crimson;
}
.ogg{
    color: rebeccapurple; letter-spacing:  2px; font-size: 30px; font-style: italic;
}
.nd{
    text-decoration: none; font-size: 25px;
}
.na{
    list-style: none;
}
.inputs{
    margin: 20px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0; 
    }
#img1{
height: 300px; width: 500px;
}

#img2{
    height: 300px; width: 600px;
 }
